
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body{
            width: 1140px;
            margin: 0 auto;
        }
        h2{
            margin-top: 25px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h2>Магазин товаров</h2>
    <p>
        <a href="/Home/Employees">Сотрудники</a>
    </p>
</body>
</html>
